.infoGrid {
  width: 100%;
}

.profileImage {
  width: 100%;
  max-width: 128px;
  min-width: 64px;
  margin: 8px;
}

.details {
  width: 100%;
}

.nameHeading {
  padding-right: 40px;
  padding-bottom: 20px;
  width: 100%;
}

.topResultsList {
  margin-top: 8px;
}

.teamList {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(20px);
  font-weight: 700;
  letter-spacing: rem(-1px);
  width: 100%;
  margin-left: 4px;
  margin-right: 16px;
}

.teamListAnchor {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.teamListTeamName {
  width: 100%;
  border: 1px solid red;
}

.teamListRider {
  margin-bottom: 4px;
  padding: 4px;
  border-color: light-dark(#dee0e0, #dee0e0);
}

.prevButton {
  margin-right: 16px;
}

.result {
  font-weight: 700;
}

.historyAndTeamList {
  margin-top: 4px;
}

.riderHistory {
    margin-top: 5px;
    margin-right: 36px;
    padding-left: 5%;
    padding-right: 10%;
    display: flex;
    justify-content: flex-start;
}

.historyTable {
  font-size: .7em;
}

.prevRiderAnchor {
  margin-right: 36px;
}

.prevAndNextAnchors {
  margin-top: 16px;
  margin-left: 26px;
}

.teamListAge {
  margin-left: 16px;
}

.teamListHometown {
  margin-left: 16px;
}