.infoGrid {
  width: 100%;
  min-height: 215px;
  margin-bottom: 16px;
}

.profileImage {
  width: 100%;
  max-width: 128px;
  min-width: 64px;
  margin: 8px;
}

.details {
  width: 100%;
}

.teamList {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(20px);
  font-weight: 700;
  letter-spacing: rem(-1px);
  width: 100%;
  margin-top: 48px;
}

.teamListAnchor {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.riderContentWrap {
  min-width: 55%;
}

.nameHeading {
  padding-right: 40px;
  padding-bottom: 20px;
  width: 100%;
}

.topResults {
  width: 100%;
}

.topResultsList {
  margin-top: 8px;
}

.teamListTeamName {
  width: 100%;
  border: 1px solid red;
}

.teamListRider {
  margin-bottom: 4px;
  padding: 4px;
  border-color: light-dark(#dee0e0, #dee0e0);
}

.prevButton {
  margin-right: 16px;
}

.raceTabs {
  padding: 20px;
}

.result {
  font-weight: 700;
}

.raceTableContainer {
    padding-left: 5%;
    padding-right: 10%;
    display: flex;
    justify-content: flex-start;
}

.riderInfoTeam {
  margin-top: 32px;
}
