.infoBlock {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: rem(12px);
    font-weight: 600;
  }

  .divider {
    display: block;
    height: 100%;
    width: 100%;
  }