.infoBlockOuter {
  border-right: 5px solid;
  border-color: light-dark(#d8dfe3, #343637);
}

.infoBlockLeftHandedOuter {
  border-radius: 4px 4px 0 0;
  border-left: 5px solid;
  border-color: light-dark(#d8dfe3, #343637);
}

.infoBlock {
  height: 100%;
  width: 100%;
  font-size: rem(12px);
  font-weight: 600;
  }

  .infoBlockHeader {
    background-color: light-dark(#d8dfe3, #343637);
    width: 100%;
    padding: 4px;
    justify-content: center;
  }

  .divider {
    display: block;
    height: 100%;
    width: 100%;
  }