.infoBlockOuter {
  border-right: 5px solid;
  border-color: light-dark(#d8dfe3, #343637);
  margin: 8px
}

.infoBlock {
    height: 100%;
    padding: 16px;
    font-size: rem(12px);
    font-weight: 600;
    
  }

  .infoBlockHeader {
    background-color: light-dark(#d8dfe3, #343637);
    border-radius: 4px 0px 0px;
    width: 100%;
    padding: 4px;
    justify-content: center;
  }

  .divider {
    display: block;
    height: 100%;
    width: 100%;
  }