.raceTabs {
  padding: 20px;
}

.result {
  font-weight: 700;
}

.raceTableContainer {
  margin-right: 10%;
  align-content: center;
  display: flex;
  width: 100%;
}

.riderInfoTeam {
  margin-top: 32px;
}
