.raceHeading {
  padding-right: 40px;
  padding-bottom: 20px;
  width: 100%;
  margin-bottom: 8px;
}

.winnerDetails {
  width: 100%;
}

.raceDetailsLeft {
  width: 40%;

}

.raceDetailsRight {
  width: 60%;
}

.riderPhoto {
  margin-top: 8px;
  border-radius: 4px;
}

.defaultRiderPhoto {
  margin-top: 8px;
  border-radius: 4px;
  filter: brightness(40%);
}

.courseMapContainer {
  width: 90%;
  height: 525px;
}

.courseMap {
  height: 100%;
  border-radius: 8px;
}

.resultsPreviewContainer {
  width: 100%;
}

.resultsPreview {
  background-color: light-dark(#343637, #242424);
  color: var(--mantine-color-white);

  border-radius: 4px;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}