.raceTabs {
    padding: 20px;
    width: 100%;
}

.result {
    font-weight: 700;
}

.raceTable {
    width: 100%;
}

.raceTableContainer {
    width: 80%;
}

.raceTableContainerGroup {
    width: 100%;
}