.racerInfo {
    padding-left: 40px;
}

.profileImage {
    width: 100%;
    max-width: 200px;
    min-width: 64px;
}

.infoBlock {
    width: 100%;
    padding-left: 10px;
    font-size: rem(12px);
    font-weight: 600;
}

.blockTwo {
    height: 100%;
    padding: 8px;

}

.blockTwoText {
    padding-left: 8px;
}

.divider {
    height: 100%;
    width: 100%;
}