.resultsForm {
  width: 90%;
  padding: 26px;
  background-color: light-dark(#7D98A3, #343637);
  background-image: linear-gradient(to bottom right, light-dark(#d7eefa, #1e282e), light-dark(#d7eefa, #1e282e), light-dark(#fcddbb, #6e5424));
  border-radius: 8px;
  box-shadow:
  0 1.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 49px 30px rgba(0, 0, 0, 0.12);
}

.formSection {
  margin-bottom: 8px;
}

.textArea {
  width: 80%;
  margin-bottom: 16px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.categoryOptions {
  width: 80%;
}