.formSection {
  margin-bottom: 8px;
}

.textArea {
  width: 80%;
  margin-bottom: 16px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.categoryOptions {
  width: 80%;
}
