.acsHome {
  width: 100%;
}

.rankPreview {
  border-radius: 1px;
  width: 100%;
  height: 135px;
}

.stackLeft {
  min-width: 325px;
}

.stackRight {
  min-width: 325px;
  background-color: light-dark(#d8dfe3, #343637);
  border-radius: 4px;
  margin-top: 16px;
  padding-top: 16px;
}
